---
import Layout from "../../components/Layout.astro";
import PostCard from "../../components/PostCard.astro";
import { getCollection } from "astro:content";
const archiveDesc = "Browse all posts on design, ideas, technology and aesthetics.";
const posts = await getCollection("posts");

// Sort posts by datetime
const sortedPosts = posts.sort((a, b) => {
  return b.data.datetime.getTime() - a.data.datetime.getTime();
});
---
<Layout current="blog" title="All Posts – Thiru's Internet Corner" description= {archiveDesc}>
  <main class="content">
    <h1>Blog Archive</h1>
    <div class="cards">
      {sortedPosts.map((post) => (
        <PostCard post={post} />
      ))}
    </div>
  </main>
</Layout>