---
import Layout from "../components/Layout.astro";
---
<Layout current="contact" title="Contact Us – Thiru's Internet Corner" description="Contact me via mail."> <main class="content">
  <div style="margin:0px auto;">
  <h1>Send me a Mail</h1>
  <p>
    If you have any thoughts, ideas, suggestions or queries, please put a mail to me.<br>I'd be happy to read and respond to them. Thanks!
  </p>
  </div>
  <form class="mail-form" action="https://api.web3forms.com/submit" method="POST">
    <input type="hidden" name="access_key" value="55c52e47-bf53-4b36-a8d6-3ea7d031a206">
    <label for="name">From:</label>
    <input id="name" name="name" type="text" placeholder="Your name" required>
  
    <label for="email">Your email address:</label>
    <input id="email" name="email" type="email" placeholder="you@example.com" required>
  
    <label for="message">Message:</label>
    <textarea id="message" name="message" placeholder="Type your letter…" required></textarea>
   <!-- Honeypot Spam Protection -->
   <input type="checkbox" name="botcheck" class="hidden" style="display: none;">
    <button type="submit" id="send-btn" class="send-seal-button" aria-label="Send letter">
      <img src="/images/sendseal.webp" alt="A send button made to look like a green wax seal">
    </button>
    <input type="hidden" name="redirect" value="https://thiru.me/thank-you">
  </form>
  </main>
</Layout>
