---
// src/pages/links.astro
import Layout from "../components/Layout.astro";
---
<Layout current="links" title="More Links">
  <div class="links-container" style="max-width:600px; margin:0 auto;">
    <h1>More Links</h1>
    <ul class="links-list" style="list-style:none; padding:0; margin-top:1rem; text-align:left;">
    <li>
      <a href="https://pokemondb.net" target="_blank">
        <img src="https://via.placeholder.com/24" alt="Pokémon Database logo" class="link-icon" style="width:24px; height:24px; vertical-align:middle; margin-right:8px;" />
       Instagram
      </a>
    </li>
    <li>
      <a href="https://bulbapedia.bulbagarden.net" target="_blank">
        <img src="https://via.placeholder.com/24" alt="Bulbapedia logo" class="link-icon" style="width:24px; height:24px; vertical-align:middle; margin-right:8px;" />
        spica
      </a>
    </li>
    <li>
      <a href="https://smogon.com" target="_blank">
        <img src="https://via.placeholder.com/24" alt="Smogon Strategy logo" class="link-icon" style="width:24px; height:24px; vertical-align:middle; margin-right:8px;" />
        Behance
      </a>
    </li>
    <li>
      <a href="https://pokemon.com/us/" target="_blank">
        <img src="https://via.placeholder.com/24" alt="Official Pokémon logo" class="link-icon" style="width:24px; height:24px; vertical-align:middle; margin-right:8px;" />
        Github
      </a>
    </li>
    <li>
      <a href="https://twitch.tv/" target="_blank">
        <img src="https://via.placeholder.com/24" alt="Live Streams logo" class="link-icon" style="width:24px; height:24px; vertical-align:middle; margin-right:8px;" />
        Live Streams
      </a>
    </li>
    </ul>
  </div>
</Layout>
