---
// src/pages/thank-you.astro
import Layout from '../components/Layout.astro';
---
<Layout current="contact" title="Thanks for Reaching Out!">
  <div class="content" style="text-align:center; padding:4rem 1rem;">
    <h1>Thank You!</h1>
    <p>Thank you so much for taking your time to send me a mail.<br>I appreciate it and will try my best to respond to it.</p>
    <p>
        <div id="backarrow">
      <a href="/">
        ← Back to Home
      </a></div>
    </p>
    <img id="thank-you-mail-pic" src="/images/monet-quote-flowers.webp" alt="A collage featuring quote from Monet saying 'I must have flowers, always, and always.'"> 
  </div>
</Layout>